<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Posts</h2>
    <ul>
      <% @posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <h2>My Posts</h2>
    <ul>
      <% @my_posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Posts Commented On</h2>
    <ul>
      <% @commented_posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Create a new post</h1>
    <%= render 'posts/post' %>
  </div>
  <div class="col-md-2"></div>
</div>
